{% extends 'common/hui/base.html' %}
{% block content %}
    <style>
        .form-horizontal .checkbox-inline{padding: 0;}
        .checkbox-inline{margin-right: 0}
    </style>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>自动报表系统 <small>业态授权</small></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal depart-box">
                            <div class="form-group dl">
                                <div class="col-sm-1 dt">
                                    <input type="checkbox" class="all" value="11">
                                    <label class="control-label checkbox-inline">超市</label>
                                </div>
                                <div class="col-sm-11 dd">
                                    {% for checkbox in form.chaoShi %}
                                        <div class="col-sm-3">
                                            {{ checkbox }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group dl">
                                <div class="col-sm-1 dt">
                                    <input type="checkbox" class="all" value="12">
                                    <label class="control-label checkbox-inline">百货</label>
                                </div>
                                <div class="col-sm-11 dd">
                                    {% for checkbox in form.baiHuo %}
                                        <div class="col-sm-3">
                                            {{ checkbox }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group dl">
                                <div class="col-sm-1 dt">
                                    <input type="checkbox" class="all" value="13">
                                    <label class="control-label checkbox-inline">便利店</label>
                                </div>
                                <div class="col-sm-11 dd">
                                    {% for checkbox in form.bianLiDian %}
                                        <div class="col-sm-3">
                                            {{ checkbox }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>自动报表系统 <small>部类授权</small></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal category-box">
                            <div class="form-group dl">
                                <div class="col-sm-1 dt">
                                    <input type="checkbox" class="all" value="1">
                                    <label class="control-label checkbox-inline">生鲜部：</label>
                                </div>
                                <div class="col-sm-11 dd">
                                    {% for checkbox in form.shengXian %}
                                        <div class="col-sm-3">
                                            {{ checkbox }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group dl">
                                <div class="col-sm-1 dt">
                                    <input type="checkbox" class="all" value="2">
                                    <label class="control-label checkbox-inline">食品部：</label>
                                </div>
                                <div class="col-sm-11 dd">
                                    {% for checkbox in form.shiPin %}
                                        <div class="col-sm-3">
                                            {{ checkbox }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group dl">
                                <div class="col-sm-1 dt">
                                    <input type="checkbox" class="all" value="3">
                                    <label class="control-label checkbox-inline">非食部：</label>
                                </div>
                                <div class="col-sm-11 dd">
                                    {% for checkbox in form.feiShi %}
                                        <div class="col-sm-3">
                                            {{ checkbox }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group dl">
                                <div class="col-sm-1 dt">
                                    <input type="checkbox" class="all" value="4">
                                    <label class="control-label checkbox-inline">家电部：</label>
                                </div>
                                <div class="col-sm-11 dd">
                                    {% for checkbox in form.jiaDian %}
                                        <div class="col-sm-3">
                                            {{ checkbox }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group dl">
                                <div class="col-sm-1 dt">
                                    <input type="checkbox" class="all" value="6">
                                    <label class="control-label checkbox-inline">孕婴童：</label>
                                </div>
                                <div class="col-sm-11 dd">
                                    {% for checkbox in form.yunYing %}
                                        <div class="col-sm-3">
                                            {{ checkbox }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>

                    </div>
                </div>

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>自动报表系统 <small>模块授权</small></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal module-box">
                            <div class="form-group dl">
                                <div class="col-sm-1 dt">
                                    <input type="checkbox" class="all" value="1">
                                    <label class="control-label checkbox-inline">超市日报：</label>
                                </div>
                                <div class="col-sm-11 dd">
                                    {% for checkbox in form.dailyCHSH %}
                                        <div class="col-sm-3">
                                            {{ checkbox }}
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group dl">
                                <div class="col-sm-1 dt">
                                    <input type="checkbox" class="all" value="2">
                                    <label class="control-label checkbox-inline">百货日报：</label>
                                </div>
                                <div class="col-sm-11 dd">
                                    {% for checkbox in form.dailyBH %}
                                        <div class="col-sm-3">
                                            {{ checkbox }}
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group dl">
                                <div class="col-sm-1 dt">
                                    <input type="checkbox" class="all" value="3">
                                    <label class="control-label checkbox-inline">便利店日报：</label>
                                </div>
                                <div class="col-sm-11 dd">
                                    {% for checkbox in form.dailyBLD %}
                                        <div class="col-sm-3">
                                            {{ checkbox }}
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group dl">
                                <div class="col-sm-1 dt">
                                    <input type="checkbox" class="all" value="4">
                                    <label class="control-label checkbox-inline">异常数据：</label>
                                </div>
                                <div class="col-sm-11 dd">
                                    {% for checkbox in form.dailyErr %}
                                        <div class="col-sm-3">
                                            {{ checkbox }}
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="button" onclick="setAction('save')">创建</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
<script>
    $(".all").click(function(){
        var check_status=$(this).prop('checked');
        if(check_status){
            $(this).parent().siblings().find("input").prop('checked',true);
        }else{
            $(this).parent().siblings().find("input").prop('checked',false);
        }
    });

    function getMyList(boxClass) {
        var data = [];
        $('.'+boxClass+' .dl').each(function () {
            var item = {};
            var p_id  = $(this).find('.dt input').val();

            var checkList='';
            $(this).find('.dd input').each(function(){
                var check_status=$(this).prop('checked');
                if(check_status){
                    item['p_id'] = p_id;
                    checkList += $(this).attr('value');
                    checkList += ',';
                }
            });
            if(checkList.length>0){
                item['sub'] = checkList;
                data.push(JSON.stringify(item));
            }
        });
        return data;

    }
    function setAction(action) {
        var departs = getMyList('depart-box');
        var categories = getMyList('category-box');
        var modules = getMyList('module-box');
        var data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            'action': action,
            'id':{{ roleID | safe }},
            'departs': departs.join(','),
            'categories': categories.join(','),
            'modules': modules.join(',')
        };
        $.ajax({
            url:"{% url 'rbacRoleInfoSave' %}",
            type:'post',
            dataType:'json',
            data:data,
            success:function(data){
                if(data.msg == 0){
                    alert('保存成功');
                    window.location.href = '{% url 'rbacRole' %}'
                }else{
                    alert('保存失败');
                }
            }
        });
    }
</script>
{% endblock %}
