{% load basefilter %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        供应商权限
    </title>
</head>
<body>
{% include "common/nav.html" %}
<style>
    .class-box dl {
        clear: both;
        overflow: hidden
    }

    .class-box dl dt {
        float: left;
        width: 100%;
        text-align: left;
    }

    .class-box dl dd {
        float: left;
        margin-left: 10px;
    }
</style>
<div class="mainConf">
    <div class="confSide left">
        <h3>
            角色列表
            <a class="icon" href="{% url 'roleEdit' %}?action=new" style="text-decoration: none" title="新建">+</a>
        </h3>
        <div class="confSide-cnt">
            <div class="confSide-page">
                {% if retRoleList.has_previous %}
                    <a href="?page={{ retRoleList.previous_page_number }}&grpcode={{ grpCode }}">&lt;&lt;&lt;</a>
                {% else %}
                    <a href="javascript:;">&lt;&lt;&lt;</a>
                {% endif %}
                <form action="" style="display: inline-block">
                    <span>第</span>
                    <select class="page" name="page" id="page">
                        {% for index in retRoleList.paginator.page_range %}
                            {% if index == page %}
                                <option selected="selected">{{ index }}</option>
                            {% else %}
                                <option>{{ index }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <span>页</span>
                </form>
                {% if retRoleList.has_next %}
                    <a href="?page={{ retRoleList.next_page_number }}&grpcode={{ grpCode }}">&gt;&gt;&gt;</a>
                {% else %}
                    <a href="javascript:;">&gt;&gt;&gt;</a>
                {% endif %}

            </div>
            <div class="sideBox">
                <div class="retailBox">
                    {% for retRole in retRoleList %}
                        <h4>
                            <a href="{% url 'roleEdit' %}?rcode={{ retRole.rcode }}&grpId=
                                    {{ retRole.grpcode }}{% if page %}&page={{ page }}{% endif %}">{{ retRole.nm }}</a>
                        </h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="confCnt left">
        <div class="tTitle">
            <h2>
                角色信息管理（红色字段为必填选项）
            </h2>
        </div>
        <div class="confCnt-box">
            <form class="confCnt-form">
                <div class="conf baseInfo">
                    <h3>
                        业态授权
                    </h3>
                    <div class="class-box depart-box">
                        {% for company in departs %}
                            <dl>
                                <dt>
                                    <input type="checkbox" class="all" value="{{ company.p_item.c_id }}">
                                    <label>
                                        {% if company.p_item.c_id == '11' %}
                                            超市
                                        {% elif company.p_item.c_id == '12' %}
                                            百货
                                        {% elif company.p_item.c_id == '13' %}
                                            便利店
                                        {% endif %}：
                                    </label>
                                </dt>
                                {% for depart in company.sub %}
                                    <dd>
                                        <input type="checkbox" value="{{ depart.depart_id }}">
                                        <label>{{ depart.depart_name }}</label>
                                    </dd>
                                {% endfor %}
                            </dl>
                        {% endfor %}
                    </div>
                </div>

                <div class="conf baseInfo">
                    <h3>
                        部类授权
                    </h3>
                    <div class="class-box category-box">
                        {% for cate in classes %}
                            <dl>
                                <dt>
                                    <input type="checkbox" class="all" value="{{ cate.p_item.c_id }}">
                                    <label>{{ cate.p_item.c_name }}：</label>
                                </dt>
                                {% for class in cate.sub %}
                                    <dd>
                                        <input type="checkbox" value="{{ class.class_id }}">
                                        <label>{{ class.class_name }}</label>
                                    </dd>
                                {% endfor %}
                            </dl>
                        {% endfor %}
                    </div>
                </div>

                <div class="conf baseInfo">
                    <h3>
                        模块授权
                    </h3>
                    <div class="class-box module-box">
                        {% for module in modules %}
                            <dl>
                                <dt>
                                    <input type="checkbox" class="all" value="{{ module.p_item.m_id }}">
                                    <label>{{ module.p_item.m_name }}：</label>
                                </dt>
                                {% for c in module.sub %}
                                    <dd>
                                        <input type="checkbox" value="{{ c.m_id }}">
                                        <label>{{ c.m_name }}</label>
                                    </dd>
                                {% endfor %}
                            </dl>
                        {% endfor %}
                    </div>
                </div>

                <div class="btn">
                    <input id="save" type="button" value="保存" onclick="setAction('save')">
                    <input type="submit" value="删除" onclick="setAction('del')">
                </div>
            </form>
        </div>
    </div>
</div>
{% include "common/footer.html" %}
<script>

    function getMyList(boxClass) {
        var data = [];
        $('.'+boxClass+' dl').each(function () {
            var item = {};
            var p_id  = $(this).find('dt input').val();

            var checkList='';
            $(this).find('dd input').each(function(){
                var check_status=$(this).prop('checked');
                if(check_status){
                    item['p_id'] = p_id;
                    checkList += $(this).attr('value');
                    checkList += ',';
                }
            });
            if(checkList.length>0){
                item['sub'] = checkList;
                data.push(JSON.stringify(item));
            }
        });
        return data;

    }
    function setAction(action) {
        var departs = getMyList('depart-box');
        var categories = getMyList('category-box');
        var modules = getMyList('module-box');
        $.ajax({
            url:"{% url 'rbacSave' %}?action=" + action + "{% if page %}&page={{ page }}{% endif %}",
            type:'post',
            dataType:'json',
            data:{
                'departs':departs.join(','),
                'categories':categories.join(','),
                'modules':modules.join(',')
            },
            success:function(data){
                if(data.status=='ok'){
                    alert('ok')
                }
            }
        });
    }

    $("#page").change(function () {
        pageValue = $(this).val();
        window.location.href = "{% url 'rbacSave' %}?grpcode=" + {{ grpCode | default:'' | safe }}+"page=" + pageValue
    });

    {% if errorMsg %}
        alert('{{ errorMsg }}');
    {% endif %}
</script>
</body>
</html>