<!--[if IE]>
<script type="text/javascript" src="{{ static }}/js/jquery-1.9.1.js"></script><![endif]-->
<![if !IE]>
<script type="text/javascript" src="{{ static }}/js/jquery-2.1.4.min.js"></script><![endif]>
<script type="text/javascript" src="{{ static }}/js/jquery.form.js"></script>
<script type="text/javascript" src="{{ static }}/js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ static }}/js/csrf.js"></script>
<script type="text/javascript" src="{{ static }}/js/print/jquery.jqprint-0.3.js"></script>
<script type="text/javascript" src="{{ static }}/js/md5.js"></script>
<script type="text/javascript" src="{{ static }}/js/sha1.js"></script>
<script type="text/javascript" src="{{ static }}/js/base64.js"></script>
<script type="text/javascript" src="{{ static }}/js/main.js"></script>
<script type="text/javascript" src="{{ static }}/js/laydate.js"></script>
<script type="text/javascript" src="{{ static }}/js/softkey/Syunew3.js"></script>
<script type="text/javascript" src="{{ static }}/js/softkey/softkeyvalidator.js" charset="utf-8"></script>
<script type="text/javascript">
    var soft_key_validator = new SoftKeyValidator('','{% url 'keyCheck' %}');
    soft_key_validator.loadSoftKey();

    function pub_export(curUrl){
        $('#btnExport').val('正在导出，请稍后...').attr('disabled',true);

        soft_key_validator.callService_1(export_bar,curUrl);
{#        export_bar(curUrl);#}
    }
    function export_bar(url){
        $.get(url,function (data) {
            var data = JSON.parse(data);
            var fname = data.fname;
            downloadExcel(fname);
        });
        $("#btnExport").val('导出Excel').removeAttr('disabled');
    }
    function downloadExcel(fname) {
        window.location.href='{% url 'downloadReportExcel' %}'+'?fname='+fname;
    }
    $(function(){
        if(typeof(current) != "undefined"){
            $('#nav_'+current).css({"background":"#fff","color":"#337AB7"});
        }
    });
</script>
<script>
    function GetUrlRelativePath() {
        var url = document.location.toString();
        var arrUrl = url.split("//");
        var start = arrUrl[1].indexOf("/");
        var relUrl = arrUrl[1].substring(start);
        if(relUrl.indexOf("?") != -1){
            relUrl = relUrl.split("?")[0];
        }
        return relUrl;
    }
    var urlCur = GetUrlRelativePath();
    getSeeNum(urlCur);


    function getSeeNum(urlCur){
        $.ajax({
            url:'{% url 'getSeeNum' %}',
            method:'post',
            dataType:'json',
            async : false,
            data:{
                'urlCur':urlCur
            },
            success: function (data) {
                if(data.msg=='0'){
                   setSeeNum(data.see_num,urlCur);
                }
            }
        });
    }

    function setSeeNum(see_num,urlCur){
        $.ajax({
            url:'{% url 'setSeeNum' %}',
            method:'post',
            dataType:'json',
            async : false,
            data:{
                'urlCur':urlCur,
                'seeNum':see_num
            },
            success: function (data) {

            }
        })
    }

</script>